body {
    background-color:#f6f7e5;
}
header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  overflow: hidden;
  background-color: #000000;
  z-index: 2;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  border-radius: 10px;
  
}
.navbut{
  font-size: 17px;
}

li a:hover {
  background-color: gray;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
  .logoheader{
    height: 4em;
    width: 200px;
    /* bottom: 1em; */
    left: 20em;
  }
  
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  .space{
    border: black 1px solid;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.contact{
  text-align: center;
}
.googleform{
  font-family: 'Halant';font-size: 20px;

}
body {
  padding:0;
  margin: 0;
 }
 .button {
  border: none;
  color: rgb(129, 127, 127);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
 
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: lightgreen;
  color: white;
}
.button2{
  border-radius: 40px;
}
.buttondisplay{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

  

}
.type{
  font-family: 'Merriweather Sans', sans-serif;
  /* border: 1px solid rgb(119, 190, 236); */
  /* padding: 50px; */
  /* margin: 20px; */
  /* padding-bottom: 50px; */
  padding-left: 50px;
  padding-right:50px;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  /* background-color: #edf2f7; */
}
/* .paragraph{
  background-color: white;
} */