body {
    background-color:white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border-radius: 10px;
  }
  
  li a:hover {
    background-color: #111111;
  }
.logo {
    height: 50px;
}
p {
    color: rgb(7, 7, 7);
}
.space{
    border: black 1px solid;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
}