body {
    
    background:white;
    
 overflow-x: hidden;

}
header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    background-color: #000000;
    z-index: 2;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    border-radius: 10px;
    
  }
  .navbut{
    font-size: 17px;
  }
  
  li a:hover {
    background-color: gray;
  }
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
.logo {
    height: 50px;
}

.space{
    border: black 1px solid;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
}
.youtube{
  border: black 1px solid;
   display: block;
  margin-left: auto;
  margin-right: auto;

}
.button {
  border: none;
  color: rgb(129, 127, 127);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
 
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: lightgreen;
  color: white;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the igation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

/* filter: blur(8px);
  -webkit-filter: blur(8px); */
  /* background-color: #13d7e6; */

/* Set a specific height */
height: 100%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
width: 100%;
background-image: url('https://i.pinimg.com/originals/c3/a1/39/c3a1391c57807876a7f3bddaac3ef1eb.jpg');
filter: blur(8px);
-webkit-filter: blur(8px);}

/* Place text in the middle of the image */
.hero-text {
  background-color: black; /* Fallback color */
  background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
  font-weight: bold;
  color: white;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  font-family: 'Handlee';font-size: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  
}

.section1{
  height: 150px;
}
.description{
  padding: 120px;
  text-align: center;
  font-family: 'Cinzel Decorative';font-size: 22px;
  background-color: #edf2f7;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.firstC{
  background-color: #aaa;
}
.secondC{
  background-color: #bbb;
}
.firstA{
  font-family: 'Cinzel Decorative';font-size: 27px;

}
.secondA{
  font-family: 'Halant';font-size: 20px;

}
.buttondisplay{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

  

}
video{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.media{
  height:4em;
  width:4em;
  border-radius:40em;
  position:relative;
  position: fixed;
  bottom: -4px;
  right: 10px;
}
.logofooter{
  height: 9em;
  width: 176px;
  bottom: 1em;
  left: 5em;
}
.full{
  width:100%;
  margin:0;
}
footer{
  height:9em;
  background-color: black ;
  position:relative;
 
}

.card {
  border: 1px solid black;
  height: 300px;
  width: 416px;
  background-color: yellow;
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.flex {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 20px; 
  justify-content: center;
}

.one{
  background-color: #fdf8f1;
}
.two{
  background-color: #f0f9fe ; 
}
.three{
  background-color: #f5fbfb;
}
.title{
  font-size: 1.75rem;
}
/* .bottom{
  margin-top: auto;
  margin-bottom: 50px;
  background-color: #0d659e;
  font-size: 1rem;
  color: white;
  border-radius: 50px;
  padding: 10px;
  width: 60%;
}     */
@media screen and (max-width: 1225px){
  .flex{
      flex-direction: column;
      align-items: center;
  }
}
.text1{
  font-size: 100px;
  font-family: 'Merriweather Sans', sans-serif;
}
.pushable {
  background: blue;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: blue;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
.button2{
  border-radius: 40px;
}

.logoheader{
  height: 4em;
  width: 200px;
  /* bottom: 1em; */
  left: 20em;
}
.head{
  font-family: 'Merriweather Sans', sans-serif;
}
